[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pip = "==18.0"
flask = "*"
pymysql = "*"
pandas = "*"
requests = "*"

[dev-packages]
traders-back = {editable = true, path = "."}

[requires]
python_version = "3.7"
