<!DOCTYPE html>
{% block content %}
<div class="container">
	{% for message in get_flashed_messages() %}
	<div class="alert alert-warning">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		{{ message }}
	</div>
	{% endfor %}

	{% block page_content %}{% endblock %}
</div>
{% endblock %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="../static/css/create_assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/create_assets/css/Newsletter-Subscription-Form.css">
    <link rel="stylesheet" href="../static/css/create_assets/css/styles.css">
</head>

<body>
	<script>
	function createUser(){
		//Get these three parameters from text box in Create folder
		var req = new XMLHttpRequest();
		var url = "http://localhost:8080/users;
		var email    = document.getElementById("em1").value;
		var username = document.getElementById("uname").value;
		var password = document.getElementById("em").value;
  	  	req.open("POST", url, false); // false for synchronous request
    	req.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
   	 	req.send(JSON.stringify({"email": email, "username":username, "password":password}));
    	var result = req.responseText;
    	//Return to login page from here
    	window.location.reload()
    	return result;
	}
	</script>
    <div class="newsletter-subscribe">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Create Account</h2>
                <p class="text-center">Enter your expected Email, Username and Password to Subscribe to the Capital of Currency Exchange</p>
            </div>
            <form class="form-inline" method="post" action="{{ url_for('users.create_user') }}">
                <div class="form-group">
                <input class="form-control" id="em1" placeholder="Email" name="un">
                <input class="form-control" id="uname" placeholder="Username" name="username">
                <input class="form-control" type="password" id="em" placeholder="Password" name="password">
                </div>
                <div class="form-group"><button class="btn btn-primary" onclick = "creatUser()" type="submit">Create</button></div>
            </form>
        </div>
    </div>
    <script src="../static/css/create_assets/js/jquery.min.js"></script>
    <script src="../static/css/create_assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
