<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Newsletter-Subscription-Form.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <div class="newsletter-subscribe">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Create Account</h2>
                <p class="text-center">Enter your expected Username and Password to Subscribe to the Capital of Currency Exchange</p>
            </div>
            <form class="form-inline" method="post">
                <div class="form-group">
                <input class="form-control" id="uname" placeholder="Username">
                <input class="form-control" type="password" id="em" placeholder="Password">
                </div>
                <div class="form-group"><button class="btn btn-primary" type="submit">Create</button></div>
            </form>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>