<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
        <div class="container"><a class="navbar-brand logo" href="#">Trader Capital</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navbarNav">
                <ul class="nav navbar-nav ml-auto"></ul><button class="btn btn-primary" type="button" style="background-color: rgb(77,255,14);">Create Account</button><button class="btn btn-primary" type="button" style="background-color: rgb(244,127,20);">Delete Account</button>
                <button
                    class="btn btn-primary" type="button" style="background-color: rgb(112,181,211);">History</button><button class="btn btn-primary" type="button" style="background-color: rgb(255,14,144);">Log Out</button></div>
        </div>
    </nav>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
        <div class="container"><a class="navbar-brand logo" href="#">Trader Capital</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navbarNav">
                <ul class="nav navbar-nav ml-auto"></ul><button class="btn btn-primary" type="button" style="background-color: rgb(77,255,14);">Create Account</button><button class="btn btn-primary" type="button" style="background-color: rgb(244,127,20);">Delete Account</button>
                <button
                    class="btn btn-primary" type="button" style="background-color: rgb(112,181,211);">History</button><button class="btn btn-primary" type="button" style="background-color: rgb(255,14,144);">Log Out</button></div>
        </div>
    </nav>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
        <div class="container"><a class="navbar-brand logo" href="#">Trader Capital</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navbarNav">
                <ul class="nav navbar-nav ml-auto"></ul><button class="btn btn-primary" type="button" style="background-color: rgb(77,255,14);">Create Account</button><button class="btn btn-primary" type="button" style="background-color: rgb(244,127,20);">Delete Account</button>
                <button
                    class="btn btn-primary" type="button" style="background-color: rgb(112,181,211);">History</button><button class="btn btn-primary" type="button" style="background-color: rgb(255,14,144);">Log Out</button></div>
        </div>
    </nav>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
        <div class="container"><a class="navbar-brand logo" href="#">Trader Capital</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navbarNav">
                <ul class="nav navbar-nav ml-auto"></ul><button class="btn btn-primary" type="button" style="background-color: rgb(77,255,14);">Create Account</button><button class="btn btn-primary" type="button" style="background-color: rgb(244,127,20);">Delete Account</button>
                <button
                    class="btn btn-primary" type="button" style="background-color: rgb(112,181,211);">History</button><button class="btn btn-primary" type="button" style="background-color: rgb(255,14,144);">Log Out</button></div>
        </div>
    </nav>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
        <div class="container"><a class="navbar-brand logo" href="#">Trader Capital</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navbarNav">
                <ul class="nav navbar-nav ml-auto"></ul><button class="btn btn-primary" type="button" style="background-color: rgb(77,255,14);">Create Account</button><button class="btn btn-primary" type="button" style="background-color: rgb(244,127,20);">Delete Account</button>
                <button
                    class="btn btn-primary" type="button" style="background-color: rgb(112,181,211);">History</button><button class="btn btn-primary" type="button" style="background-color: rgb(255,14,144);">Log Out</button></div>
        </div>
    </nav>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
        <div class="container"><a class="navbar-brand logo" href="#">Trader Capital</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navbarNav">
                <ul class="nav navbar-nav ml-auto"></ul><button class="btn btn-primary" type="button" style="background-color: rgb(77,255,14);">Create Account</button><button class="btn btn-primary" type="button" style="background-color: rgb(244,127,20);">Delete Account</button>
                <button
                    class="btn btn-primary" type="button" style="background-color: rgb(112,181,211);">History</button><button class="btn btn-primary" type="button" style="background-color: rgb(255,14,144);">Log Out</button></div>
        </div>
    </nav>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
        <div class="container"><a class="navbar-brand logo" href="#">Trader Capital</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navbarNav">
                <ul class="nav navbar-nav ml-auto"></ul><button class="btn btn-primary" type="button" style="background-color: rgb(77,255,14);">Create Account</button><button class="btn btn-primary" type="button" style="background-color: rgb(244,127,20);">Delete Account</button>
                <button
                    class="btn btn-primary" type="button" style="background-color: rgb(112,181,211);">History</button><button class="btn btn-primary" type="button" style="background-color: rgb(255,14,144);">Log Out</button></div>
        </div>
    </nav>
    <main class="page lanidng-page">
        <section class="portfolio-block block-intro">
            <div class="container">
                <div class="avatar" style="background-image:url(&quot;assets/img/avatars/avatar.jpg&quot;);"></div>
            </div><small class="form-text text-muted" style="background-color: #b6ffaf;"><strong>Rate Table</strong></small>
            <div class="table-responsive" style="background-color: #fed393;">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="background-color: #c0bef7;">From</th>
                            <th style="background-color: #c0bef7;">To</th>
                            <th style="background-color: #c0bef7;">Time</th>
                            <th style="background-color: #c0bef7;">Rate</th>
                            <th style="background-color: #c0bef7;">Volume</th>
                            <th style="background-color: #c0bef7;">Buy</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Cell 1</td>
                            <td>Cell 2</td>
                            <td>Cell 2</td>
                            <td>Cell 2</td>
                            <td>Cell 5</td>
                            <td>Cell 5</td>
                        </tr>
                        <tr>
                            <td>Cell 3</td>
                            <td>Cell 2</td>
                            <td>Cell 2</td>
                            <td>Cell 4</td>
                            <td>Cell 5</td>
                            <td>Cell 5</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br/>
            <br/>
            <br/>
            <small class="form-text text-muted" style="background-color: #ffafe9;">Position Table</small>
            <div class="table-responsive" style="background-color: #fed393;">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="background-color: #c0bef7;">To</th>
                            <th style="background-color: #c0bef7;">From</th>
                            <th style="background-color: #c0bef7;">Open Time</th>
                            <th style="background-color: #c0bef7;">Volume</th>
                            <th style="background-color: #c0bef7;">Close Time</th>
                            <th style="background-color: #c0bef7;">Sell</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Cell 1</td>
                            <td>Cell 2</td>
                            <td>Cell 2</td>
                            <td>Cell 2</td>
                            <td>Cell 5</td>
                            <td>Cell 5</td>
                        </tr>
                        <tr>
                            <td>Cell 3</td>
                            <td>Cell 2</td>
                            <td>Cell 2</td>
                            <td>Cell 4</td>
                            <td>Cell 5</td>
                            <td>Cell 5</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <section class="portfolio-block photography"></section>
        <section class="portfolio-block call-to-action border-bottom">
            <div class="container">
                <div class="d-flex justify-content-center align-items-center content">
                    <h3>Like what you see?</h3><button class="btn btn-outline-primary btn-lg" type="button">Hire me</button></div>
            </div>
        </section>
    </main>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>