<!DOCTYPE html>
<html>
<style>
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
</style>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Traders Capital</title>
    <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="../static/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
        <div class="container"><a class="navbar-brand logo" href="#">Trader Capital</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navbarNav">
                <ul class="nav navbar-nav ml-auto"></ul>
                
                <div class="dropdown">
				  <button class="btn btn-primary" type="button">Accounts</button>
				  <div id="dropdown-accounts" class="dropdown-content">
				  </div>
				</div>
				
                <button class="btn btn-primary" type="button" style="background-color: rgb(77,255,14);" onclick="window.location='/create_user';">Create Account</button><button class="btn btn-primary" type="button" style="background-color: rgb(244,127,20);">Delete Account</button>
                <button
                    class="btn btn-primary" type="button" style="background-color: rgb(112,181,211);">History</button><button class="btn btn-primary" type="button" style="background-color: rgb(255,14,144);">Log Out</button></div>
        </div>
    </nav>
    

    <main class="page lanidng-page">
    <script>
  const account_id = {{ account_id }};
  const account_name = {{ account_name }};
	const uid = {{ uid }};
	//load accounts
	var dropdown = document.getElementById("dropdown-accounts");
  dropdown.innerHTML += '<a href="/account/'+account_id+'">'+account_name+'</a></br>';
	
	var userID = uid;
	var ID = 1;
	var temp = {"email":"mcho1@illinois.edu","password":"jo1"}
	var save = function(){
    	var start = document.getElementById("start").value;
    	var end = document.getElementById("end").value;
        var currency_from = document.getElementById("currency_from").value;
        var currency_to = document.getElementById("currency_to").value;
        var gran = document.getElementById("gran").value;
        var granType = document.getElementById("gran_type").value;
    	localStorage.setItem("start", start);
    	localStorage.setItem("end", end);
    	localStorage.setItem("curr_from", currency_from);
    	localStorage.setItem("curr_to", currency_to);
    	localStorage.setItem("gran", gran);
    	localStorage.setItem("granType", granType);
    	window.location.reload()
    }
var ID = localStorage.getItem("ID")
console.log(localStorage);
if(ID == null){
	ID = 1;
}


function changeAccount(cID){
	localStorage.setItem("ID", cID);	
	window.location.reload();
}
var xmlHttp = new XMLHttpRequest();
var url  = "http://localhost:8080/signin"
xmlHttp.open("POST", url, false); // false for synchronous request
xmlHttp.setRequestHeader("Content-Type", "Accept: application/json;charset=UTF-8");
xmlHttp.overrideMimeType("application/json");
var cpy;
function deleteAccount(userID, aid){
	var u = "http://localhost:8080/" + userID + "/" + aid;
	console.log(u)
	var request = new XMLHttpRequest();
	request.open("DELETE", u, false);
	request.send(null);
	window.location.reload();
	return request.responseText;
}

function createAccount(acname, userID){
	var req = new XMLHttpRequest();
	var nme = document.getElementById("nme").value;
	var url = "http://localhost:8080/new_account?uid=" + userID;
    req.open("POST", url, false); // false for synchronous request
    req.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
    req.send(JSON.stringify({"account_name": nme}));
    var result = req.responseText;
    window.location.reload()
    return result;
}

xmlHttp.onreadystatechange = function(e) {//Call a function when the state changes.
    if(xmlHttp.readyState == 4 && xmlHttp.status == 200) {
    	var res  = xmlHttp.responseText;
    	var resp = JSON.parse(res);
        var IDS  = resp.account_ids;
        cpy = IDS.slice();
        userID   = resp.user_id;
        var Req = new XMLHttpRequest();
        for(var i = 0; i < IDS.length; i++){
    		Req.open("GET", "http://localhost:8080/" + userID + "/" + IDS[i], false);
    		Req.send(null);
    		var ret = JSON.parse(Req.responseText);
    		if(ret['account_name'] != undefined){
        		document.write("<tr> <td> <center> " + ret['account_name'] + " </center> </td> <td> <button type='button' onclick='changeAccount(" + IDS[i] +  ")'> View </button></td>" +
        		"<td> <button type='button' onclick='deleteAccount(" + userID + ", "+ IDS[i] +  ")'> Remove </button></td> </tr>")
        	}
        }
        document.write("</table><br/>&nbsp;&nbsp;&nbsp;&nbsp;<input id = 'nme' type='text'> &nbsp;&nbsp; <button type='button' onclick='createAccount(" + IDS.length+ ", " + userID + ")'> Create Account </button>")
    }
}
    </script>
    <br/><br/>
    <a class = "text"><pre>  <u>From</u>       <u>To</u><br/></pre></a>
    &nbsp;&nbsp;
    <select id="currency_from">
        <option value="USD">USD</option>
        <option value="GBP">GBP</option>
        <option value="NZD">NZD</option>
        <option value="EUR">EUR</option>
        <option value="CAD">CAD</option>
        <option value="AUD">AUD</option>
        <option value="CHF">CHF</option>
        <option value="FRX">FRX</option>
        <option value="COT">COT</option>
        <option value="CH">CH</option>
        <option value="UKX">UKX</option>
        <option value="SEK">SEK</option>
        <option value="HUF">HUF</option>
        <option value="CNH">CNH</option>
        <option value="TRY">TRY</option>
        <option value="JPY">JPY</option>
        <option value="CUU">CUU</option>
        <option value="RU">RU</option>
        <option value="COR">COR</option>
        <option value="AUX">AUX</option>
        <option value="JPX">JPX</option>
        <option value="CZK">CZK</option>
        <option value="DKK">DKK</option>
    </select>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <select id="currency_to">
        <option value="USD">USD</option>
        <option value="GBP">GBP</option>
        <option value="NZD">NZD</option>
        <option value="EUR">EUR</option>
        <option value="CAD">CAD</option>
        <option value="AUD">AUD</option>
        <option value="CHF">CHF</option>
        <option value="FRX">FRX</option>
        <option value="COT">COT</option>
        <option value="CH">CH</option>
        <option value="UKX">UKX</option>
        <option value="SEK">SEK</option>
        <option value="HUF">HUF</option>
        <option value="CNH">CNH</option>
        <option value="TRY">TRY</option>
        <option value="JPY">JPY</option>
        <option value="CUU">CUU</option>
        <option value="RU">RU</option>
        <option value="COR">COR</option>
        <option value="AUX">AUX</option>
        <option value="JPX">JPX</option>
        <option value="CZK">CZK</option>
        <option value="DKK">DKK</option>
    </select>
    <br/>
    <a class = "black">
	&nbsp;&nbsp;&nbsp;Start Date_Time: <br/>
	&nbsp;&nbsp;&nbsp;<input id = "start" type="text" name="start" value="2000-10-30_17:26:34"> <br/>
	&nbsp;&nbsp;&nbsp;End Date_Time: <br/>
	&nbsp;&nbsp;&nbsp;<input id = "end" type="text" name="end" value="2020-11-30_17:26:34"> <br/>
	&nbsp;&nbsp;&nbsp;Granularity: <br/>
	&nbsp;&nbsp;&nbsp;<input id = "gran" type="text" name="gran" value="20""> 
	<select id="gran_type">
	  <option value="seconds">seconds</option>
      <option value="minutes">minutes</option>
      <option value="hours">hours</option>
      <option value="days">days</option>
    </select>
	<br/>
 	</a>
 	<br/>
 	&nbsp;&nbsp;
	<button onclick="save()" class="btn dropbtn" style="background-color: rgb(112,181,211);">Find</button>
	<br/>

<script>
 var s = localStorage.getItem("start");
 var e = localStorage.getItem("end");
 var curr_f = localStorage.getItem("curr_from");
 var curr_t = localStorage.getItem("curr_to");
 var g = localStorage.getItem("gran");
 var gTa = localStorage.getItem("granType")
 function httpGet(theUrl)
{
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", theUrl, false); // false for synchronous request
    xmlHttp.send( null );
    return xmlHttp.responseText;
}
var ret = httpGet("http://localhost:8080/exchangerates/currency_from/" + curr_f + "/currency_to/" + curr_t + "/from_time/"+ s + "/to_time/" + e);
var c = JSON.parse(ret);

function purchase(row)
{
    var curr_from = document.getElementById('rate_table').rows[row].cells[0].innerText;
    var curr_to = document.getElementById('rate_table').rows[row].cells[1].innerText;
    var time = document.getElementById('rate_table').rows[row].cells[2].innerText;
    var volume = document.getElementById('volume_'+row).value;
    var xmlHttp = new XMLHttpRequest();
    var url = "http://localhost:8080/users/" +userID+ "/accounts/" + ID + "/positions";
    xmlHttp.open("POST", url, false); // false for synchronous request
    xmlHttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
    var toSend = JSON.stringify({"volume":volume, "currency_from":curr_from,"currency_to":curr_to,"time":time,"position_type":"long"})
    xmlHttp.send(toSend);
    var result = xmlHttp.responseText;
    window.location.reload()
    return result;
}

function sell(row)
{
    var close_time = document.getElementById('close_time_' + row).value;
    var position_id = document.getElementById('position_id_' + row).value;
    var open_rate_id = document.getElementById('open_rate_id_' + row).value;
    
    var xmlHttp = new XMLHttpRequest();
    var url = "http://localhost:8080/users/"+userID+"/accounts/" + ID+ "/positions/" + position_id;

    xmlHttp.open("PUT", url, false); // false for synchronous request
    xmlHttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
    xmlHttp.send(JSON.stringify({"close_rate_time":close_time, "open_rate_id":open_rate_id}));
    var result = xmlHttp.responseText;
    window.location.reload()
    return result;
}
var curr = c.exchange_rates[0].time;
var prev = c.exchange_rates[0].time;
 </script>
 		<br/>
        <b> &nbsp;&nbsp;&nbsp;&nbsp;Account Balance: </b>
        <br/>
        <section class="block-intro">
        <small class="form-text text-muted" style="background-color: #b6ffaf;"><strong><center>Rate Table</center></strong></small>
            <div class="table-responsive" style="background-color: #fed393;">
                <table class="table" id = 'rate_table'>
                    <thead>
                        <tr>
                            <th style="background-color: #c0bef7;">From</th>
                            <th style="background-color: #c0bef7;">To</th>
                            <th style="background-color: #c0bef7;">Time</th>
                            <th style="background-color: #c0bef7;">Rate</th>
                            <th style="background-color: #c0bef7;">Volume</th>
                            <th style="background-color: #c0bef7;">Buy</th>
                        </tr>
                    </thead>
                    <tbody>
                    <script>
prev = prev.replace(" ", "T")
var it = 1;
if(gTa != null){
	if(gTa == "minutes"){
		it = 60
	}
	if(gTa == "days"){
		it = 24 * 60 * 60
	}
	if(gTa == "hours"){
		it = 60 * 60;
	}
}
var skip = it * parseInt(g);
var d2 = 0
var row = 0
for(var i = 0; i < c.exchange_rates.length; i++){
	curr = c.exchange_rates[i].time;
	var d1 = new Date(curr)
	d1 = new Date(d1.toUTCString())
	var diff = (d1.getTime() - d2)/1000
	if((prev == curr) || (diff >= skip)){
		d2 = d1.getTime();
		prev = curr;
		document.write("<tr>")
		document.write("<td>" + c.currency_from + "</td>");
		document.write("<td>" + c.currency_to + "</td>");
		var d = new Date(c.exchange_rates[i].time)
		d = d.toISOString()
		d = d.replace("T", " ")
		d = d.replace(".000Z", "")
    	document.write("<td>" + d + "</td>");
		document.write("<td>" + c.exchange_rates[i].bid + "</td>");
		document.write("<td> <input type='text' id='volume_" + (row +1) + "'>");
    	document.write("<td> <button type='button' onclick='purchase(" + (row +1) + ")'>Buy</button></td>");
		document.write("</tr>")
		row = row + 1
	}
}
var f = c;

ret = httpGet("http://localhost:8080/users/"+userID+"/accounts/"+ID+"/positions");
c = JSON.parse(ret);
</script>
                    </tbody>
                </table>
            </div>
            <br/>
            <br/>
            <br/>
            <small class="form-text text-muted" style="background-color: #ffafe9;"><strong><center>Position Table</center></strong></small>
            <div class="table-responsive" style="background-color: #fed393;">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="background-color: #c0bef7;">To</th>
                            <th style="background-color: #c0bef7;">From</th>
                            <th style="background-color: #c0bef7;">Open Time</th>
                            <th style="background-color: #c0bef7;">Volume</th>
                            <th style="background-color: #c0bef7;">Close Time</th>
                            <th style="background-color: #c0bef7;">Sell</th>
                        </tr>
                    </thead>
                    <tbody>
<script>
for(var i = 0; i < c.positions.length; i++){
    if (c.positions[i].close_rate_id == null) {
        document.write("<tr>");
        document.write("<input type='hidden' id='position_id_" + (i+1) +"'" + (i+1) + "' value='" + c.positions[i].id+ "'>");
        document.write("<input type='hidden' id='open_rate_id_" + (i+1) +"'" + (i+1) + "' value='" + c.positions[i].open_rate_id+ "'>");
        document.write("<td>" + c.positions[i].currency_from + "</td>");
        document.write("<td>" + c.positions[i].currency_to + "</td>");
        document.write("<td>" + c.positions[i].open_rate_time + "</td>");
        document.write("<td>" + c.positions[i].volume + "</td>");
        document.write("<td> <input type='text' id='close_time_" + (i+1) + "'> </td>");
        document.write("<td> <button type='button' onclick='sell(" + (i+1) + ")'>Sell</button></td>");
        document.write("</tr>")
    }
    else{
		document.write("<tr>");
        document.write("<input type='hidden' id='position_id_" + (i+1) +"'" + (i+1) + "' value='" + c.positions[i].id+ "'>");
        document.write("<input type='hidden' id='open_rate_id_" + (i+1) +"'" + (i+1) + "' value='" + c.positions[i].open_rate_id+ "'>");
        document.write("<td>" + c.positions[i].currency_from + "</td>");
        document.write("<td>" + c.positions[i].currency_to + "</td>");
        document.write("<td>" + c.positions[i].open_rate_time + "</td>");
        document.write("<td>" + c.positions[i].volume + "</td>");
        document.write("<td>" + c.positions[i].close_rate_time + "</td>");
        document.write("<td>" + c.positions[i].value+ "</td>");
        document.write("</tr>")
    }
}
</script>
                    </tbody>
                </table>
            </div>
        </section>
        <section class="portfolio-block photography"></section>
    </main>
    <script src="../static/assets/js/jquery.min.js"></script>
    <script src="../static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="../static/assets/js/theme.js"></script>
</body>

</html>
