<!DOCTYPE html>
<html>
<body>

<nav align = right class="filler">
 <div align = left class = "title"> Traders Capital </div>
 <span class="dropdown">
 <button onclick="myFunction()" class="btn dropbtn">Accounts</button>
  <div id="myDropdown" class="dropdown-content">
    <a href="#home">Account 1</a>
    <a href="#about">Account 2</a>
    <a href="#contact">Account 3</a>
  </div>
</span>
 &nbsp;&nbsp;&nbsp;&nbsp;
 <a class="btn btn-secondary2" href="/js/">History</a>                    &nbsp;&nbsp;&nbsp;&nbsp;
 <a class="btn btn-secondary" href="/pl/logout">Log Out</a>
</nav>
<br/>
<fieldset class = "field">
  <a class = "text"> <u> Account Status</u> </a>
  <br/>
  <!--Parse name from json over here-->
  <a class = "text"> Alex Zhang </a>
  <br/>
  <!--Parse balance from json over here-->
  <a class = "text"> Balance: $1000 </a>
  <br/>
  <br/>
  <!--Parse stock info from json over here-->
  <a class = "text"> <u> Stock Summary</u> </a>
  <a class = "text"> <pre>Name                                 Quantity</pre></a>
  <a class = "text"><tt> <pre>Amazon                             1</pre></tt></a>
  <a class = "text"><tt><pre>Google                               10</pre></tt></a> 
    <a class = "text"> <pre>Facebook                           1</pre></a>
    <a class = "text"> <pre>Avatria                                1</pre></a>
    <a class = "text"> <pre>Sony                                   1</pre></a>
</field>

</body>
</html>
