<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Avalla</title>
  
  
  
      <link rel="stylesheet" href="account.css">

  
</head>

<body>

<!DOCTYPE html>
<html>
<body>

<nav align = right class="filler">
 <div align = left class = "title"> Traders Capital </div>
 <span class="dropdown">
 <button onclick="myFunction()" class="btn dropbtn">Accounts</button>
  <div id="myDropdown" class="dropdown-content">
    <a href="#home">Account 1</a>
    <a href="#about">Account 2</a>
    <a href="#contact">Account 3</a>
  </div>
</span>
 &nbsp;&nbsp;&nbsp;&nbsp;
 <a class="btn btn-secondary2" href="/js/">History</a>                    
 &nbsp;&nbsp;&nbsp;&nbsp;
 <a class="btn btn-secondary" href="/pl/logout">Log Out</a>
</nav>
<br/>
<fieldset class = "field">
  
  <a class = "text"><pre> <u>From</u>          <u>To</u><br/></pre></a>
    <select>
      <option value="USD">USD</option>
      <option value="CHN">CHN</option>
      <option value="GBP">GBP</option>
      <option value="EUR">EUR</option>
      <option value="EUR">GER</option>
    </select>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <select>
      <option value="USD">USD</option>
      <option value="CHN">CHN</option>
      <option value="GBP">GBP</option>
      <option value="EUR">EUR</option>
      <option value="GER">GER</option>
    </select>
    <script>
    
    var save = function(){
    	var start = document.getElementById("start")
    	var end = document.getElementById("end")
    	localStorage.setItem("start", start.value)	
    	localStorage.setItem("end", end.value)
    	window.location.reload()
    }
    </script>
      
    <br/>
      <a class = "black">
      Start Date_Time: <br/>
      <input id = "start" type="text" name="start" value="2018-10-30_17:26:34"> <br/>
      End Date_Time: <br/>
      <input id = "end" type="text" name="end" value="2018-11-30_17:26:34"><br>
      </a>
      <br/>
      <button onclick="save()" class="btn dropbtn">Find</button>

    <br/>
 <script>
 
 function (){
 
 }
 
 var s = localStorage.getItem("start")
 var e = localStorage.getItem("end")	
 function httpGet(theUrl)
{
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", theUrl, false); // false for synchronous request
    xmlHttp.send( null );
    return xmlHttp.responseText;
}
var ret = httpGet("http://localhost:8080/exchangerates/currency_from/usd/currency_to/gbp/from_time/"+ s + "/to_time/" + e);
var c = JSON.parse(ret);
document.write("<a class = 'black'> <b> Rate Table </b> </a> <table>")
document.write("  <tr> <th>From</th> <th>To</th> <th>Time</th> <th>Rate</th> <th>Volume</th> <th>Buy</th></tr>")
for(var i = 0; i < c.exchange_rates.length; i++){
	document.write("<tr>")
	document.write("<td>" + c.currency_from + "</td>");
	document.write("<td>" + c.currency_to + "</td>");
	document.write("<td>" + c.exchange_rates[i].time + "</td>");
	document.write("<td>" + c.exchange_rates[i].bid + "</td>");
	document.write("<td> <input type='text' name = 'V" + i + "'></td>");
	document.write("<td> <input type='submit' value='Buy'></td>");
	document.write("</tr>")
}
var f = c;
document.write("</table> <br/>")
document.write("<a class = 'black'> <b> Position Table </b> </a> <table>");
ret = httpGet("http://localhost:8080/users/1/accounts/1/positions");
c = JSON.parse(ret);
document.write("<tr> <th>From</th> <th>To</th> <th>Time</th> <th>Rate</th> <th>Volume</th> <th>Sell</th></tr>");
for(var i = 0; i < c.positions.length; i++){
    document.write("<tr>")
	document.write("<td>" + f.currency_from + "</td>");
	document.write("<td>" + f.currency_to + "</td>");
	document.write("<td> FUTURE </td>");
	document.write("<td>" + c.positions[i].open_rate_id + "</td>");
	document.write("<td>" + c.positions[i].volume + "</td>");
	document.write("<td><input type='submit' value='Sell'></td>");
	document.write("</tr>")
	
}
 </script>
</fieldset>
<br/>
</body>
</html>
  
    <script  src="account.js"></script>

</body>

</html>
