<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login Page</title>
    <link rel="stylesheet" href="../static/login_assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/login_assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../static/login_assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="../static/login_assets/css/styles.css">
</head>
<script>
var logged = {{logged}};

</script>
<body>
    <div class="login-clean">
    <form name = "Login" method = "post" action = "{{ url_for('users.user_login') }}">
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration"><i class="fas fa-money-bill-wave" style="color: rgb(25,118,23);"></i><small class="form-text text-muted" style="font-size: 20px;color: rgb(14,75,129);filter: grayscale(100%) hue-rotate(262deg) invert(0%) saturate(106%);opacity: 0.96;">Trader Capital</small></div>
            <div class="form-group"><input class="form-control" name="userName" placeholder="Username"></div>
    <div class="form-group"><input class="form-control" type="password" name="passWord" placeholder="Password"></div>
    <div class="form-group"><button class="btn btn-primary btn-block" type="submit" style="background-color: rgb(71,171,244);">Log In</button></div>
    </form>
    </div>
</body>
</html>
