<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Traders</title>
      <link rel="stylesheet" href="../static/css/style.css">

  
</head>

<body>

  <!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Traders</title>
</head>
<body>
<script>
var logged = {{logged}};

</script>
	<h3>Traders Capital</h3>
		<fieldset class = "field">
			<legend class = "uPanel">Member Login</legend>
			<form name = "Login" method = "post" action = "{{ url_for('users.user_login') }}">
			Username: <br> <input type = "text" name = "userName" />
			<br/>
			Password: <br> <input type = "text" name = "passWord" />
			<p id="incorrect"></p><br/>
			<input type = "submit" value = "Submit" class = "submission"/>
			</form>
		</fieldset>
</body>
</html>
  
  <script src="../static/js/login_page.js"></script>

</body>

</html>
