<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>ACCNAME</title> <!-- Needs to be dynamic somehow...-->
  
  
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <link rel="stylesheet" href="../static/css/user_style.css">

  
</head>

<body>

  <!DOCTYPE html>
<html>
<body>

<nav align = right class="filler">
 <div align = left class = "title"> Traders Capital </div>
 <div align = right class = "title"> Username </div> <!-- Needs to be dynamic somehow...-->
 <div align = right class = "title"> Account </div> <!-- Needs to be dynamic somehow...-->
	<form name="accountList" method="POST" action="{{ url_for('pages.user_profile') }}">
		<fieldset>
			<label for="account"> View Account </label>
			<select name="account" id="account">
				<option disabled selected value> -- select an option -- </option>
			</select>
		</fieldset>
	</form>
 <a class="btn btn-secondary" href="/login">Log Out</a>
</nav>


</body>
</html>
  
  

    <script  src="../static/js/user_index.js"></script>




</body>

</html>
