<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Avalla</title>
  
  
  
      <link rel="stylesheet" href="../static/css/user_style.css">

  
</head>

<body>

  <!DOCTYPE html>
<html>
<body>

<nav align = right class="filler">
 <div align = left class = "title"> Traders Capital </div>
 <span class="dropdown">
 <button onclick="myFunction()" class="btn dropbtn">Accounts</button>
  <div id="myDropdown" class="dropdown-content">
    <a href="#home">Account 1</a>
    <a href="#about">Account 2</a>
    <a href="#contact">Account 3</a>
  </div>
</span>
 &nbsp;&nbsp;&nbsp;&nbsp;
 <a class="btn btn-secondary2" href="/js/">History</a>                    &nbsp;&nbsp;&nbsp;&nbsp;
 <a class="btn btn-secondary" href="/pl/logout">Log Out</a>
</nav>


</body>
</html>
  
  

    <script  src="../static/js/user_index.js"></script>




</body>

</html>
